name: adwortskalender

on:
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

jobs:
  post:
    runs-on: ubuntu-latest

    steps:
      - name: Repository auschecken
        uses: actions/checkout@v4

      - name: Python installieren
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Abhängigkeiten installieren
        run: |
          pip install "atproto>=0.0.42"

      - name: Debug python
        run: |
          python --version
          pip list
          ls -al

      - name: Bluesky-Posting ausführen
        env:
          BSKY_USERNAME: ${{ secrets.BLUESKY_USER }}
          BSKY_PASSWORD: ${{ secrets.BLUESKY_PASS }}
        run: |
          python main.py
